<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Order Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Add Order Details for Order ID: {{ order_id }}</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="POST">
            <div class="form-group">
                <label for="ProductID">Product ID:</label>
                <input type="text" name="ProductID" required>
            </div>
            
            <div class="form-group">
                <label for="Quantity">Quantity:</label>
                <input type="number" name="Quantity" required>
            </div>
            
            <button type="submit">Add Order Detail</button>
        </form>
        
    </div>
</body>
</html>
