{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <h2>Add New Customer</h2>
        <form method="POST">
            <label for="CustomerID">Customer ID</label>
            <input type="text" name="CustomerID" required><br>

            <label for="company_name">Company Name</label>
            <input type="text" name="CompanyName" required><br>

            <label for="contact_name">Contact Name</label>
            <input type="text" name="ContactName" required><br>

            <label for="contact_title">Contact Title</label>
            <input type="text" name="ContactTitle"><br>

            <label for="address">Address</label>
            <input type="text" name="Address" required><br>

            <label for="city">City</label>
            <input type="text" name="City" required><br>

            <label for="region">Region</label>
            <input type="text" name="Region"><br>

            <label for="postal_code">Postal Code</label>
            <input type="text" name="PostalCode" required><br>

            <label for="country">Country</label>
            <input type="text" name="Country" required><br>

            <label for="phone">Phone</label>
            <input type="text" name="Phone" required><br>

            <input type="submit" value="Add Customer">
        </form>
    </div>
{% endblock %}
