<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Gourmet</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

    <!-- Optional: You can add your custom CSS as well -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Global Gourmet Logo" class="logo" style="width: 150px; height: auto;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a  class="btn btn-dark" href="/">Home</a></li>
               
                <li class="nav-item"><a class="nav-link" href="/add_shipper">Add Shipper</a></li>
                <li class="nav-item"><a class="nav-link" href="/add_supplier">Add Supplier</a></li>
                <li class="nav-item"><a class="nav-link" href="/add_customer">Add Customer</a></li>
                <li class="nav-item"><a class="nav-link" href="/add_product">Add Product</a></li>
                <li class="nav-item"><a class="nav-link" href="/add_order">Add Order</a></li>
            </ul>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center py-3 mt-5">
        <p>&copy; 2024 Global Gourmet. All Rights Reserved.</p>
    </footer>

    <!-- Bootstrap JS and Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
